<html>
  <head>
    <title>Project overview</title>
    <link rel="stylesheet" href="markdown.css" type="text/css" media="all" title="Screen" />
  </head>
  <body>
    <h1>Sites</h1>

    <ul>
      <% @sites.each do |site| %>
        <li>
          <a href="http://<%= site[:id] %>.<%= @server_name %>">
            <%= site[:id] %>
          </a>
        </li>
      <% end %>
    </ul>

    <h2>Tools</h2>
    <ul>
      <li>
        <a href="/phpMyAdmin">phpMyAdmin</a>
      </li>
      <li>
        <a href="http://<%= @server_name %>:5984/_utils/">CouchDB Admin</a>
      </li>
      <li>
        <a href="/apc.php">APC Statistics</a>
      </li>
      <li>
        <a href="http://<%= @server_name %>:8080/">Jenkins</a>
      </li>
    </ul>
  </body>
</html>
